{% extends 'base.html.twig' %}
{% block body %}

    <div class=jumbotron text-center>
        <h1>Bienvenue sur le site FB Rénovation</h1>
        <h2>Notre entreprise vous propose ses services</h2>
    </div>
{% endblock %}